@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.plus-jakarta-sans{
                        font-family: "Plus Jakarta Sans", serif;
                        font-optical-sizing: auto;
                        font-weight: 400;
                        font-style: normal;
                    }

body{
    font-family: "Plus Jakarta Sans", serif;
    background: #EFF0F3;
    height: 571.2vh;
    width: 100vw;
    /*width: 1440px;*/

}


:root{
    --White:#FFFFFE;
    --Light-Grey-1: #EFF0F3;
    --Light-Grey-2: #E4E5E9;
    --Grey: #C0C0C0;
    --Dark-Grey: #9A9494;
    --Black: #2B2C34;
    --Blue: #6246EA;
}


/*----------------- header початок--------------------------------------------- */


header{
    height: 10.3vh;
    width: 100%;
    background: #EFF0F3;
    box-shadow: 0.5vh 0.4vw 1.5vh 0 rgba(215, 215, 215, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-right:6.6vw;
    padding-left: 6.6vw;
}

.logo{
    background-color: rgba(196, 203, 237, 0.6);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.logo h2{
    color: #001858;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logo p{
    width: 3.3vw;
    height: 3.2vh;
    color: var(--Blue, #6246EA);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header nav{
    background-color: rgba(241, 173, 207, 0.92);
    display: flex;
    flex-direction: row;
    gap: 3.5vw;
    width: 52.5vw;
    height: 5.2vh;
}

header nav ul{
    background-color: #ecfd00;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3.5vw;
}

header nav ul li a {
    color: var(--Black, #2B2C34);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.li-search{
    display: flex;
    gap: 0.7vw;
    background-color: rgba(255, 81, 16, 0.63);
}

header nav button img{
    width: 1.7vw;
    height: 2.9vh;
}

header nav button{
    display: flex;
    padding: 1.2vh 1.2vw;
    align-items: flex-start;
    gap: 0.7vw;
    border-radius: 0.25rem;
    background: var(--Blue, #6246EA);
    color: #FFFFFE;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: 14.8vw;
    height: 100%;
}
/*----------------- header кінець--------------------------------------------- */




/*----------------- main початок--------------------------------------------- */

main{
    background-color: #fabce2;
    height: 107.3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:8.1vw;
    padding-left: 6.6vw;
    padding-right: 6.6vw;
}

main div{
    background: #06f6df;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3.6vh;
    margin-top: 22.1vh;
    margin-bottom: 33.8vh;
}

main div h1{
    width: 42.8vw;
    color: #2B2C34;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

}

main div p{
    width: 45.3vw;
    color: var(--Dark-Grey, #9A9494);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: 0.2vw solid #2B2C34 ;
    height: 6.7vh;
    padding-left: 0.8vw;
}

.form {
    width: 42.3vw;
    height: 8vh;
    gap: 1.4vw;
    display: flex;
   flex-direction: row;
}


.form input{
    width: 30.8vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left:1.7vw;
    gap: 0.7vw;
    border-radius: 0.5rem;
    background: var(--White, #FFFFFE);
    color: var(--Grey, #C0C0C0);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White, #FFFFFE);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 0.5rem;
    background: var(--Blue, #6246EA);
}

.button-1{
    width: 10.1vw;
    height: 8vh;
}

main img{
    width: 32.6vw;
    height: 46.1vh;
    padding: 1.5vh 1.3vw 1.3vh 1.2vw;
    background: #EFF0F3;
    margin-top: 19.5vh;
    margin-bottom: 31.3vh;
}
/*----------------- main кінець--------------------------------------------- */



/*----------------- section1 Browse the category початок-------------------------------------- */
.browse-the-category{
    /*background: #e89a9a;*/
    height: 59.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-all-category{
    background: #92e1da;
    width: 86.9vw;
    height: 43.5vh;
    display: flex;
    flex-direction: column;
    gap: 6vh;
    position: relative;
    /*z-index: -1;*/
}

.browse-menu{
    background: #6B6161;
    display: flex;
    width: 100%;
    height: 4.2vh;
    justify-content: space-between;
    align-items: center;
}

.browse-menu h3{
    color: var(--Black, #2B2C34);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.browse-menu div{
    display: flex;
    flex-direction: row;
}

.browse-menu h4{
    color: var(--Black, #2B2C34);
    text-align: right;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.browse-menu  img{
    width: 0.4vw;
    height: 1.7vh;
    margin: 1.1vh 0.5vw 0.2vh 0.8vw;
}

/*-----------------cards початок-----------------*/
.div-css-react{
    height: 33.4vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2.6vw;
}

.cards{
    width: 15.3vw;
    height: 33.4vh;
    border-radius: 0.5rem;
    background: var(--White, #FFFFFE);
}

.cards div{
    height: 14.3vh;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.6vh;
    margin: 7.7vh auto 11.3vh 2.1vw;
}

.cards div img{
    width: 4.2vw;
    height: 7.2vh;
}

.cards div h3{
    color: var(--Black, #2B2C34);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.cards:hover {
    background: var(--Blue, #6246EA);
}

.cards:hover h3 {
    color: var(--White, #FFFFFE);
}

.dots{
    width: 77.8vw;
    height: 11.9vh;
    position: absolute;
    bottom: -6vh; right: -3.9vw;
    z-index: -1;
}
/*----------------- section1 Browse the category кінець-------------------------------------- */





/*--------------------------- scroll сторінка 2 початок-------------------------------------------*/
.content-scroll{
    /*background-color: #dcfbcd;*/
    height: 2504px;
    display: flex;

}
.content-section{
    background-color: #fbfbb6;
    width: 1252px;
    height: 2344px;
    margin: 80px 94px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1-4{
    background-color: #c7f6c1;
    width: 100%;
    height: 490px;
}

.all-img-cards-row{
    background-color: #b1bfec;
    width: 1252px;
    height: 425px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 30px;
}

.img-cards{
    background-color: rgba(244, 189, 217, 0.92);
    width: 300px;
    height: 425px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.img-cards:hover{
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.img{
    width: 260px;
    height: 198px;
    border-radius: 12.599px;
    background:  lightgray 50% / cover no-repeat;
    margin-bottom: 25px;
}

.img-cards h4{
    width: 260px;
    color: var(--Black, #2B2C34);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.ellipse-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.ellipse-content img{
    width: 57px;
    height: 57px;
    background: lightgray 50% / cover no-repeat;
}

.ellipse-content h5{
    width: 73px;
    height: 21px;
    color: var(--Black, #2B2C34);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ellipse-content p{
    margin-top: 4.2px;
    width: 184px;
    height: 21px;
    color: var(--Black, #2B2C34);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.button-2{
    width: 165px;
    height: 64px;
}
/*--------------------------- scroll сторінка 2 кінець-------------------------------*/






/*--------------------------------- address початок ----------------------------*/
address{
    background-color: #f6cdfa;
    height: 453px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-address{
    background: #d3fff8;
    width: 696px;
    height: 337px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
address div img{
    width: 130px;
    height: 130px;


}
.all-address div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
address h2{
    color: var(--Black, #2B2C34);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

address p{
    width: 696px;
    color: var(--Grey, #C0C0C0);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

/*--------------------------------- address кінець ----------------------------*/



footer{
    /*background-color: #b9c4f6;*/
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;

}

.border{
    background-color: #c8fac2;
    width: 1250px;
    height: 295px;
    border-bottom: 1px solid #C0C0C0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 160px;
    padding-bottom: 50px;
    margin-top: 70px;
    margin-bottom: 26px;

}

.darmawan{

    color: var(--Black, #2B2C34);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon{
    background-color: #bfbff4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 284px;
    height: 138px;
}
.social_icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: #fff;
    height: 30px;
}


.medium{
    width: 30px;
    height: 30px;

}
.twitter{
    width:22px;
    height:18px;
}

.instagram{
        width: 24px;
        height: 24px;
}


.text{

    background-color: #f8e5a8;
    width: 805px;
    height: 245px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}
.text div p a{


    color: var(--Black, #2B2C34);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.text div p{
    margin-bottom: 20px;

}


.text div p .block-title{


    color: var(--Black, #2B2C34);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;


}

.text div p:first-child {
    margin-bottom: 25px;

}

.copyright{
    margin-bottom: 26px;
    color: var(--Black, #2B2C34);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}







