@media screen and (min-width: 376px) and (max-width: 768px){
    html{
        font-size: 12px;
    }
    body{
        height: 100vh;
        background: #9da8ae;

    }

    main{
        width: 93.8vw;
        height: 90.2vh;
        margin: 4.9vh 3.1vw;
        gap: 9.8vh 4.2vw;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        flex-direction: row;
        flex-wrap: wrap;
        background: #7979d8;

    }
    img{
        height: 22vh;
        /*height: 25.1vh;*/
        width: 100%;


    }
    div{
        height: 36.6vh;
        width: 28.4vw;
        background: #eda8a8;

    }
    h3{
        margin: 3.1vh 0 2.3vh 0;
    }



}

@media screen and (min-width: 769px) and (max-width: 891px){
    img{

        width: 100%;
        height: 25vh;

    }
}