body{
    margin: 0;
    background-color: #5e7c61;
    height: 100vh;
}

.flex{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.box{
    margin: 5px;
    padding: 15px 10px 10px 10px;
    background-color: #c5eac7;
    height: 170px;
    width: 180px;
    border-radius: 3%;
    font-size: 14px;
    transition: 1s;
}

.box:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

h4{
    margin-top: 0;
}